:root {
    --text: #FFFFFF;
    --subtext: #DDDDDD;
    --background: #000000;
    --primary: #879f3c;
    --secondary: #2d6678;
    --accent: #bada55;

    --secondary-dark: #0b191e;
    --secondary-transparent: rgb(from var(--secondary) r g b / 25%);

    --small-text-size: 1.6vmin;
    --normal-text-size: 2.2vmin;
    --header-text-size: 48px;
    --hero-text-size: 8vmax;

    --pattern-size: 8vmin;

    --blur: 10px;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Verdana;
    font-size: var(--paragraph-text-size);

    width: 100vw;
    height: 100vh;

    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

button {
    padding: 12px;
    text-transform: uppercase;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(var(--blur));
    min-width: 200px;
    min-height: 60px;
    color: var(--subtext);
    border-radius: 30px;
    box-shadow: inset 0 0 15px 0px var(--secondary), 0 0 5px 0px var(--primary);
    border: 2px solid var(--primary);
    user-select: none;
    transition: 0.1s;
}

button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 25px 0px var(--secondary), 0 0 8px 0px var(--accent);
    border: 2px solid var(--accent);
    color: white;
}

button:active {
    color: var(--accent);
    box-shadow: inset 0 0 30px 0px var(--secondary), 0 0 10px 0px var(--accent);
}

a {
    text-decoration: none;
    color: var(--text);
}

ul {
    list-style-type: none;
}

p, button {
    font-size: var(--normal-text-size);
}

h1 {
    font-size: var(--header-text-size);
    margin: 0;
}

.scrolling-background::before {
    content: "";

    position: absolute;
    background-color: var(--secondary);

    mask-image: url("./assets/tiled-stars.svg");
    mask-repeat: repeat;
    mask-size: var(--pattern-size);

    /* 3. Animate the MASK position */
    animation: pan 180s linear infinite;

    opacity: 25%;

    /* Sizing and positioning */
    width: 200%;
    height: 100%;

    border-radius: 30px;
    
    z-index: -1;
    
}

.scrolling-background {
    overflow: hidden;
}

/* Update the keyframes to animate 'mask-position' */
@keyframes pan {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* ====== NAVBAR ====== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 24px;
}

.navbar .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: var(--small-text-size);
}

/* ====== HERO ====== */
.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(rgb(from var(--background) r g b / 50%), rgba(from var(--background) r g b / 20%)), url("./assets/hero.png");
    background-size: cover;
    background-position: center;
    flex: 1;
    position: relative;
}

.hero {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 60%;
    background-color: rgb(from var(--secondary-dark) r g b / 50%);
    backdrop-filter: blur(var(--blur));
    box-shadow: inset 0 0 15px 0px var(--secondary), 0 0 5px 0px var(--secondary);
    border: 2px solid var(--primary);
    border-radius: 30px;
    gap: 16px;
    padding: 16px;
}

@media (max-width: 1235px) {
    .hero {
        height: 60%;
        width: 80%;
    }
}

.hero h1 {
    position: relative;
    font-size: var(--hero-text-size);
    text-align: center;
    text-shadow: 0px 0px 20px var(--primary);
}

.hero p {
    color: var(--subtext);
    font-size: var(--normal-text-size);
    text-shadow: 0px 0px 20px var(--secondary-dark);
    text-align: center;
}