:root {
    --header: #FFFFFF;
    --text: #DDDDDD;
    --background: #000000;
    --primary: #879f3c;
    --secondary: #2d6678;
    --accent: #bada55;

    --secondary-dark: #0b191e;
    --secondary-transparent: rgb(from var(--secondary) r g b / 25%);

    --small-text-size: 1.6vmin;
    --normal-text-size: 2.2vmin;
    --header-text-size: 48px;
    --hero-text-size: 8vmax;

    --pattern-size: 8vmin;

    --blur: 10px;
}

/* ====== ANIMATIONS ====== */
@keyframes pan {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

/* ====== GENERAL FORMATTING ====== */
body {
    background-color: var(--background);
    color: var(--header);
    font-family: Verdana;
    font-size: var(--paragraph-text-size);

    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--header);
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

a:hover {
    color: var(--primary);
    text-shadow: 0 0 8px var(--primary);
}

a:active {
    color: var(--accent);
    text-shadow: 0 0 8px var(--accent);
}

ul {
    list-style-type: none;
}

p, button {
    color: var(--text);
    font-size: var(--normal-text-size);
}

h1 {
    font-size: var(--header-text-size);
    margin: 0;
}

button {
    padding: 16px 32px;
    text-transform: uppercase;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(var(--blur));
    color: var(--text);
    border-radius: 30px;
    box-shadow: inset 0 0 15px var(--secondary), 0 0 5px var(--primary);
    border: 2px solid var(--primary);
    user-select: none;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 25px var(--secondary), 0 0 8px var(--accent);
    border: 2px solid var(--accent);
    color: var(--header);
}

button:active {
    color: var(--accent);
    box-shadow: inset 0 0 30px var(--secondary), 0 0 10px var(--accent);
}

.narrow {
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 80vw;
    min-height: 20vh;
}

.scrolling-background::before {
    content: "";

    position: absolute;
    background-color: var(--secondary);

    mask-image: url("./assets/tiled-stars.svg");
    mask-repeat: repeat;
    mask-size: var(--pattern-size);

    animation: pan 180s linear infinite;

    opacity: 25%;

    width: 200%;
    height: 100%;

    border-radius: 30px;
    
    z-index: -1;
}

.scrolling-background {
    overflow: hidden;
}

.quote {
    font-weight: 600;
    font-style: italic;
    text-shadow: 0 0 8px var(--primary);
}

strong {
    font-weight: 600;
    color: var(--primary);
    transition-duration: 200ms;
}

strong:hover {
    color: var(--accent);
    text-shadow: 0 0 8px var(--secondary);
}

/* ====== NAVBAR ====== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 24px;
    min-height: 5vh;
    max-height: 5vh;
}

.navbar .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: var(--small-text-size);
}

/* ====== SECTION ONE ====== */
.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(rgb(from var(--background) r g b / 60%), rgba(from var(--background) r g b / 30%)), url("./assets/hero.png");
    background-size: cover;
    background-position: top;
    flex: 1;
    min-height: 93vh;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%; /* 60%; */
    width: 60%; /* 80%;*/
    gap: 16px;
    padding: 32px;
}

.hero h1 {
    font-size: var(--hero-text-size);
    text-align: center;
    text-shadow: 0px 0px 20px var(--primary);
}

.hero p {
    color: var(--text);
    font-size: var(--normal-text-size);
    text-shadow: 0px 0px 20px var(--secondary-dark);
    text-align: center;
}

/* ====== SECTION TWO ====== */
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    padding: 64px;
}

/* ====== SCALING STUFF ======*/
@media (max-width: 1235px) {
    .hero {
        height: 60%;
        width: 80%;
    }
}